#gallery{
    min-height: 100vh;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; 
}


div.galleryImg {
    border: 1px solid #ccc;
  }

  div.galleryImg:hover {
    border: 1px solid #777;
  }
  
  div.galleryImg img {
    width: 100%;
  
  }
  
  * {
    box-sizing: border-box;
  }

   .responsive {
    padding: 20px 6px;    
  }

  .galleryh1{
    margin-top: 50px;
  }

/*
  @media screen and (max-width: 700px) {
    .responsive {
      width: 45%;
      height: 50%;
      margin: 6px 0;
    }
  }

  @media screen and (max-width: 500px) {
    .responsive {
      width: 50%;
      height: 50%;
    }
  }  */
  
   .galleryImg{
    height: 500px;
    /* min-width: 300px; */
    /* max-width: 100%; */
   }


