  .site-footer{
    margin: 0;
    margin-top: 10px;
    padding: 50px 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

li{
  color: black
}

.linksHeader{
  color: black;
  font-weight: bold;
  font-size: x-large;
}

.socialHeader{
  color: black;
  font-weight: bold;
  font-size: x-large;
}

.footerLinks{
  color: black;
  font-weight: bold;
  
}
.btn-tiktok{
  color: white;
  font-weight: bold;
  border: 5px solid rgb(204, 0, 255);
  width: 50px;
  height: 65px 
}

.btn-facebook, .btn-instagram {
  width: 50px;
  height: 65px 
}

.fa-instagram, .fa-facebook{ 
  padding-top: 15px;
}

.btnPhone, .btnEmail{
  color: black;
  font-weight: bold;  
}

.fa-envelope-o, .fa-phone {
  color: white;
  size: 20px;
}