

.heroContainer{
    background: linear-gradient(to right, rgba(0,0,0,0.7),
    rgba(0,0,0,0.1)); 
    background-image: url(../images/goldenCheescake.PNG);
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
};

.heroContent{
    height: calc(100vh -80px);
    max-height: 100%;
    width: 100vw;
    padding: 0rem calc((100vw-1300px) /2);
};

.heroItems { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    max-height: 100%;
    padding: 0 2 rem;
    width: 650px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
 
    @media screen and (max-width: 650px) {
        width: 100%
    }
 }

h1 {
   font-size: clamp(2.5rem, 10vw, 5rem);
   margin-bottom: 1rem;
   box-shadow: 3px 5px #e9ba23;
   letter-spacing: 3px;
}

p{
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin-bottom: 2rem;
}

.topnav{
    background: transparent;
    height: 80px;
    padding-right: 3px;
    justify-content: right;
    font-weight: 700;
    display: flex;
}

@media (max-width: 400px) {
       
      .nav-link{  position: absolute;
        top: 10px;
        left: 25px;
      }  
}

.nav-link{
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: right;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 10px;



}
  .nav-link:active{
        color: #000000;
    }


a.navbarBrand.navbar-Brand{
    color : palevioletred;
}
/* .bars{
  display: none;
  color: #808080;
  @media screen and (max-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  } */



