body{
    background-color: #FFA630;
  }
  .thumbnail-gallery{
    border:1px solid #efefef;
    border-radius:5px;
    margin-top:20px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    padding-bottom:8px;
    background-color: #ffffff;
  }
  .overlay{
    position:absolute;
    display: flex;
    justify-content:center;
    background-color: rgba(0,0,0,0.25);
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    align-items: center;
    flex-direction: column;
    color:#ffffff;
   
  }
  .image-card{
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    border:0;
  }