
 .topnav{
    background: transparent;
    height: 80px;
    margin: 0;
    padding-right: 3px;
    justify-content: right;
    font-weight: 700;
    display: flex;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
}
 
 @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
 }



@media (max-width: 400px) {
       
      .nav-link{  
        position: absolute;
        top: 10px;
        left: 25px;
      }  
} 

.nav-link{
    color: black;
    font-size: 20px;
    display: flex;
    align-items: right;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 10px;



}
  .nav-item a:hover, .nav-item a:active{
        color: rgb(216, 51, 166);
    } 

.navbarBrand{
    color: black
}

.navbarToggler{
    color: black;
} 


