.productsContainer{
  min-height: 100vh;
  padding: 5rem calc((100vw - 1300px) / 2);
  background-image: url(../images/background-texture.jpg);
  color: black;
}

.productsWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.productsCard{
  margin: 0 2rem;
  line-height: 2;
  width: 300px;
}

.productsImg{
  height: 300px;
  min-width: 300px;
  max-width: 100%;
  box-shadow: 8px 8px #fdc500;
}

.productsHeading{
  font-size: clamp(2rem, 2.5vw, 3rem);
  text-align: center;
  margin-bottom: 5rem;
}

.productsTitle{
  font-weight: 400;
  font-size: 1.5rem;
}

.productsInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.productsDesc{
  margin-bottom: 1rem;
  font-size: 20px;
}

.productsPrice{
  margin-bottom: 1rem;
  font-size: 2rem;
}

.productsButton{
  font-size: 1rem;
  padding: 1rem 4rem;
  border: none;
  background: #e31837;
  color: #fff;
  transition: 0.2 ease-out;
 
}
  .popularProductsButton:hover {
    background: #e31837;
    transition: 0.2s ease-out;
    cursor: pointer;
    color: #000;
  } 

.heading{
    font-size: 50px;
}